# Ignorere client secret
client_secret.json
cred.json

# Ignorere CPython
*.cpython-35.pyc
*.cpython-36.pyc
*.cpython-37.pyc

.vscode/

.app/__pycache__/

.app/static/styles/scss/.sass-cache

.sass-cache/
.vscode/settings.json
